
nav{
    /* height: 50px; */
    display: flex;
    justify-content:start;
    align-items: center;
    gap: 20vh;
}

.nav-logo-continaer img{
    width: 50px;
}

.home h1{
    font-family: 'Sharky', sans-serif;
    /* font-family: 'zelan'; */
    font-size: 7rem;
    letter-spacing: .5rem;
    color: rgb(113, 57, 123);
    font-weight: 100;
}